@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

:root {
	--header-height: 69px;
}

// TAILWIND:BASE
@layer base {
	html {
		@apply scroll-smooth;
	}
	body {
		@apply font-sans font-medium tracking-tight bg-black text-white flex flex-col min-h-screen;
	}
	main {
		@apply flex-grow pt-[var(--header-height)];
	}
	a {
		transition: 0.3s;
	}
	.button {
		@apply inline-block rounded-none appearance-none outline-none bg-black text-white border border-black tracking-widest w-auto p-3 px-6 min-h-[48px] cursor-pointer transition-smooth supports-hover:hover:bg-white supports-hover:hover:text-black;
		&[disabled] {
			@apply pointer-events-none opacity-60;
		}
	}
	.text-link {
		@apply inline-block relative pb-1 overflow-hidden;
		&:after {
			content: "";
			@apply h-[1px] w-full bg-black absolute bottom-[2px] left-0 transition-smooth;
		}
		@media (hover) {
			&:hover:after {
				@apply -translate-x-full;
			}
		}
	}
	.kill-transform {
		transform: none !important;
	}
	// TYPOGRAPHY
	.typography-shift  {
		@apply overflow-hidden;
		span {
			@apply inline-block;
		}
	}
	.headline {
		@apply font-sans font-semibold text-80 leading-none md:text-32;
		&-sm {
			@apply font-sans font-semibold text-40 leading-none tracking-tighter md:text-24;
		}
		&-xl {
			@apply font-sans font-semibold text-[clamp(60px,10vw,140px)] leading-none tracking-tighter;
		}
	}
	.text-body-large {
		@apply font-sans text-24;
	}  
	.caps {
		@apply text-13 tracking-wide uppercase;
	}
}

// TAILWIND:UTILITIES
@layer utilities {
	.container-base {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	.container {
		@apply container-base px-6;
		max-width: 1440px;
		&-full {
			@apply container-base px-6;
			max-width: 100%;
		}
		&-1280 {
			@apply container-base px-6;
			max-width: 1280px;
		}
		&-1060 {
			@apply container-base px-6;
			max-width: 1060px;
		}
		&-960 {
			@apply container-base px-6;
			max-width: 960px;
		}
		&-768 {
			@apply container-base px-6;
			max-width: 768px;
		}
		&-700 {
			@apply container-base px-6;
			max-width: 700px;
		}
	}
	.absolute-center {
		@apply absolute top-1/2 -translate-y-1/2;
	}
	.invisible {
		opacity: 0;
		visibility: hidden;
	}
	.visible {
		opacity: 1;
		visibility: visible;
	}
	.transition-smooth {
		transition: 0.3s;
	}
}

// TEXT ANIMATE
text-animate {
	@apply inline-block overflow-hidden relative;
	span {
		@apply block translate-y-full;
	}
}

// CUSTOM SCROLLBAR
*::-webkit-scrollbar {
	width: 0.2em;
}
*::-webkit-scrollbar-track {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
*::-webkit-scrollbar-thumb {
	background-color: #000000;
	outline: 0px solid #000000;
	width: 0.1em;
}